# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
- List popular languages for Data Science
- Git & GitHub
- Jupyter notebooks

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. SQL

Some of the commonly used libraries used by Data Scientists include:
1. pandas
2. numpy
3. matplotlib

| Data Science Tools |
|--------------------|
| RStudio            |
| Jupyter Notebook  |
| Spyder             |

### Below are a few examples of evaluating arithmetic expressions in Python

In [2]:
# This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [3]:
# This will convert 200 minutes to hours by diving by 60
200 / 6

33.333333333333336

## Author
Amzyl mohammed ali